* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.cff text eol=lf
*.json text eol=lf
*.py text eol=lf
*.toml text eol=lf
routes/instructions/* text eol=lf
NOTICE text eol=lf
